*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --gradient-a: rgb(69, 233, 104);
    --gradient-b: rgb(5, 99, 28);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
}

#songlist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.song-item {
    flex: 1 1 calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.cover img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.contentBox{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.1);
}

.scrollable{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 10%;
    scrollbar-color: rgba(168, 168, 168, 0.8);
}

.istok-web-regular {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.istok-web-bold {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.istok-web-regular-italic {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.istok-web-bold-italic {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.josefin-sans-regular {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
}

h3, h4, h5, h6{
    font-family: 'Istok Web', sans-serif;
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

.music-player{
    background: rgba(255,255,255 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.1);
}